.rowbtn {
      border: none;
      outline: none;
      background: #ff6666;
      border-radius: 10px;
      border: 2px solid white;
      color: white;
      margin: 10px;
  }
  .row{
    padding :5px;
    margin-top:5px;
    display: flex;
    justify-content: center;
  }
  .grpBox{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .yearRow{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .inputCell{
    width: 6vw;
    height: .5rem;
  }
.gridCell{
  background: #F0EFFE;
  padding: 0.25rem;
  width: 6vw;
  border-radius: 10%;
  display: flex;
  justify-content: center;
}